# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
project/node_modules
project/.pnp
project/.pnp.js
project/.env
project/# testing
project/coverage
project/# production
project/build
project/# misc
project/.DS_Store
project/.env.local
project/.env.development.local
project/.env.test.local
project/.env.production.local
project/npm-debug.log*
project/yarn-debug.log*
project/yarn-error.log*

server/node_modules
server/.pnp
server/.pnp.js
server/.env
server/# testing
server/coverage
server/# production
server/build
server/# misc
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*