.App {
  text-align: center;
  background-color: #f2f0ef;
  overflow-x: hidden;
  /* background-color: #c35823; */

  width: 100%;
  height: 200vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 0px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoImg {
  height: 40px;
}

.navBar {
  background-color: #f2f0ef;
  padding: 0px 4%;

  width: 100vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0px;
  border-radius: 75px;

  width: 100%;
  gap: 10px;
}

.selectItem {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px 10px 20px -5px rgba(153, 153, 153, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedContainer {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: start;

  margin-top: 40px;
  padding-bottom: 35px;
  gap: 5px;

  border-radius: 45px;
}

.cardTitle {
  width: 100%;
  text-align: center;

  font-size: x-large;
  font-weight: 700;

  margin-bottom: 25px;
  color: #352e29;
}

.selectedList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  background-color: white;
  /* width: 100%; */
  padding: 18px 20px;
  box-shadow: 0px 10px 20px -5px rgba(153, 153, 153, 0.2);

  border-radius: 10px;
}

.optionContainer {
  /* max-width: 50%; */
  /* min-width: 80%; */
  max-width: 100%;

  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: start;

  margin-top: 40px;

  /* background-color: #bcb1a2; */
  /* padding: 20px 35px; */
  padding-bottom: 35px;

  gap: 5px;

  border-radius: 45px;
}

.optionList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: #f2f0ef;
  padding: 18px 30px;

  border-radius: 100px;
  box-shadow: 0 0 0 2px #d3d1d0 inset;
  min-width: 100px;
  height: 50px;
}

.optionList:hover {
  background-color: #352e29;
  box-shadow: none;
  color: #f2f0ef;
  transition: background-color 2s;
}

.optionWrite {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  background-color: #352e29;
  padding: 18px 30px;

  border-radius: 100px;
  /* box-shadow: 0 0 0 2px #d3d1d0 inset; */
}

.btnBackground {
  width: 25px;
  height: 25px;
  background-color: #f2f0ef;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
  flex-shrink: 0;
}

.make {
  width: 80%;
  height: 7%;
  color: #f2f0ef;
  background-color: #352e29;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  position: fixed;
  bottom: 5%;
  box-shadow: 0px 10px 20px -5px rgba(153, 153, 153, 0.78);
}
