.App {
  text-align: center;
  background-color: #f2f0ef;
  /* background-color: #c35823; */

  width: 100vw;
  height: 200vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoImg {
  height: 40px;
  /* width: 100px; */
}

.navBar {
  background-color: #f2f0ef;
  padding: 30px 4%;

  width: 100vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  border-radius: 75px;

  width: 80%;
  /* margin-left: 10%; */
  gap: 10px;

  /* background-color: #e5dcd5; */
}

.selectItem {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px 10px 20px -5px rgba(153, 153, 153, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedContainer {
  width: 80%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: start;

  padding-top: 20px;
}

.make {
  width: 80%;
  height: 7%;
  color: #f2f0ef;
  background-color: #352e29;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  position: fixed;
  bottom: 5%;
}
