.App {
  text-align: center;
  background-color: #f2f0ef;
  /* background-color: #c35823; */

  width: 100vw;
  height: 200vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoImg {
  height: 40px;
  /* width: 100px; */
}

.navBar {
  background-color: #f2f0ef;
  padding: 30px 4%;

  width: 100vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
